html{
    background-color: #141824;
}
.container{
    margin: 0px;
    max-width: 1960px;
    width: auto;
    height: 500px;
    padding-top: 50px;
    
}

.header{
    text-align: center;
    color: white;
    padding-top: 50px;
}
.card{
    color:white;
}
.card-deck{
    text-align: center;
    box-sizing: border-box;
}
.button-back{
    display: flex;
    justify-content:center;
    padding: 5px;
}
div.MuiCardContent-root{
    padding: 16px 0px 16px 0px;
}
div.card-header{
    text-align: center;
    
}
div.container{
    padding: 0px;
}
.about-footer {

    position: fixed;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color:black;
    font-size:15px;
}
