.site-footer {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    color:black;
    font-size:15px;
}
.text-center{
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: -1px;
}
