
div.container{
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    background-color: #141824;
    }
    .header-slogan{
        text-align: center;
        color: white;   
        font-size: 20px;
    }
    .header-title {
        font-size: 35px;
        margin-bottom: 10px;
        text-align: left;
        margin-top: 67px;
        text-align: center;
    }
    .tech-title{
        font-size: 30px;
        margin-bottom: 10px;
        text-align: left;
        text-align: center;
        color: white;
    }
    .background-header{
        width:100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin-bottom: 10px;
    }
.text-overlay{
color: white;   
}