.container#content {
  margin-top: 60px;
}
body {

  font-family: 'Raleway', sans-serif;
}
a {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
 
}
.navbar {
  background-color: white;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
  
}
.nav-link{
  text-align: center;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color:white;
  &:hover {
    color: white;
    
  }
}
ul {
  list-style: none;
  padding: 0;
}
.nav-link{
  color: white;
}
button.navbar-toggler{
background-image: url("../images/tral.jpg");
}
.navbar.navbar-expand-sm.navbar-light.fixed-top{
background-color:  #141824;
padding: 0px;
}
